* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f1f1f1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.dark-body-theme {
  background-color: #3C4048;
}
.dark-body-theme .wrapper .header {
  box-shadow: 0 0 20px 2px rgb(255, 255, 255);
}
.dark-body-theme .wrapper .header .dark-mode-button .moon {
  content: url("../img/sun.png");
}
.dark-body-theme .wrapper .header .dark-mode-button .mode-text::after {
  content: attr(data-text-dark);
}
.dark-body-theme .wrapper .search-and-filter .search, .dark-body-theme .wrapper .search-and-filter .filter {
  box-shadow: 0 0 20px 2px rgb(255, 255, 255);
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 5rem;
}
@media (max-width: 480px) {
  .wrapper {
    margin-top: 3rem;
    width: 90%;
  }
}
.wrapper .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 0.9rem;
  box-shadow: inset 0 0 5px 0.1px #3C4048;
}
@media (max-width: 719px) {
  .wrapper .header {
    padding: 0.4rem;
    background-color: #f1f1f1;
    box-shadow: none;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
  }
}
.wrapper .header .dark-mode-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 20%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.wrapper .header .dark-mode-button .moon {
  margin-right: 0.4rem;
  width: 15px;
  height: 15px;
}
.wrapper .header .dark-mode-button .mode-text {
  font-weight: 500;
}
.wrapper .header .dark-mode-button .mode-text::after {
  content: attr(data-text-light);
}
.wrapper .header .dark-mode-button .mode-text:hover {
  font-weight: 700;
}
@media (max-width: 719px) {
  .wrapper .header .dark-mode-button .mode-text {
    display: none;
  }
}
.wrapper .search-and-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
@media (max-width: 719px) {
  .wrapper .search-and-filter {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.wrapper .search-and-filter .search {
  display: flex;
  width: 50%;
  padding: 1rem 20px 1rem 3.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 0.85rem;
  box-shadow: inset 0 0 5px 0.1px #3C4048;
  background: 20px center/1.3rem no-repeat url("../img/search.png") rgb(255, 255, 255);
  border: 0 solid;
  outline: 1px solid;
  outline-color: rgba(60, 64, 72, 0.5);
  outline-offset: 0;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.wrapper .search-and-filter .search:hover {
  border: 1px solid;
  outline-color: rgba(60, 64, 72, 0);
  outline-offset: 20px;
  outline-color: rgba(60, 64, 72, 0);
  outline-offset: 20px;
}
@media (max-width: 719px) {
  .wrapper .search-and-filter .search {
    width: 100%;
    margin-bottom: 0.5rem;
    box-shadow: none;
    background-size: 0;
    padding: 0.5rem;
  }
}
.wrapper .search-and-filter .filter {
  width: 25%;
  padding: 1rem 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: inset 0 0 5px 0.1px #3C4048;
  border: 0 solid;
  outline: 1px solid;
  outline-color: rgba(60, 64, 72, 0.5);
  outline-offset: 0;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.wrapper .search-and-filter .filter:hover {
  border: 1px solid;
  outline-color: rgba(60, 64, 72, 0);
  outline-offset: 20px;
  outline-color: rgba(60, 64, 72, 0);
  outline-offset: 20px;
}
@media (max-width: 719px) {
  .wrapper .search-and-filter .filter {
    width: 100%;
    padding: 0.5rem;
    box-shadow: none;
  }
}
.wrapper .search-and-filter .filter .select {
  width: 100%;
  border: none;
  outline: none;
  font-size: 0.75rem;
}
.wrapper .countries-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 719px) {
  .wrapper .countries-list {
    justify-content: space-around;
  }
}
@media (min-width: 720px) {
  .wrapper .countries-list {
    justify-content: space-around;
  }
}
.wrapper .countries-list .country-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 180px;
  margin: 1rem 0.1rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px #3C4048;
}
@media (max-width: 719px) {
  .wrapper .countries-list .country-wrapper {
    margin: 0.5rem 0.2rem;
    width: 140px;
  }
}
.wrapper .countries-list .country-wrapper img {
  width: 180px;
  height: 120px;
  margin-bottom: 1rem;
  border-radius: 5px 5px 0 0;
}
@media (max-width: 719px) {
  .wrapper .countries-list .country-wrapper img {
    width: 140px;
    height: 90px;
  }
}
.wrapper .countries-list .country-wrapper li {
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  font-size: 0.85rem;
  list-style: none;
}
@media (max-width: 480px) {
  .wrapper .countries-list .country-wrapper li {
    font-size: 0.75rem;
  }
}
.wrapper .countries-list .country-wrapper li:first-of-type {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}
@media (max-width: 480px) {
  .wrapper .countries-list .country-wrapper li:first-of-type {
    font-size: 0.85rem;
  }
}
.wrapper .countries-list .country-wrapper li:last-of-type {
  margin-bottom: 1rem;
}
.wrapper .countries-list .country-wrapper li span {
  font-weight: 600;
}
.wrapper .countries-list .dark-mode-country-wrapper-styles {
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
}
.wrapper .loader {
  margin: 0 auto;
  border: 12px solid rgb(255, 255, 255);
  border-top: 12px solid #3C4048;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=styles.css.map */
