//colors
$grey-light-color: #f1f1f1;
$grey-color: #D1D1D1;
$white-color: rgb(255, 255, 255);
$grey-dark-color: #3C4048;

//fonts
$primary-font: 'Gill Sans',
'Gill Sans MT',
Calibri,
'Trebuchet MS',
sans-serif;